// estilo del faq

// pregunta frecuente
.faqQuest {
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}


// respuesta
.faqAns {
    margin-left: 35px;
    margin-right: 25px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}