%flexColumn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

%flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%flexCenter {
    display: felx;
    justify-content: center;
    align-items: center;
}