// estilo del footer
.footer-real {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 3;
    text-align: center;
    padding-top: 10%;
}

#footer-real__header {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


// estilo del primer cuadrante del footer (logo y slogan)
.footer-real__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    max-width: 100px;
    max-height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.footer-slogan {
    padding: 10px;
    padding-left: 30px;
    word-wrap: break-word;
    position: relative;
    font-size: 18px;
    text-align: center;
    font-family: 'STIX Two Text', serif;
    color: rgba(255, 255, 255, 0.767);
}

