/*GRID*/

    /* NAVBAR */

#grid > div {
    height: 60px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 30px;
  }

  // titulos
  #grid-title > div {
    height: 300px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 30px;
    color: white;
    background-image: url('../img/purple-background.jpg');
    margin-bottom: 20px;
  }
  
  /*HOME*/
  
  #grid-main > div {
    height: 600px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    margin: auto;
  }

  /* PRODUCTOS */
  #grid-productos > div {
    min-height: 600px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 20px;
  }


  /* CONTACT */
  #grid-contact > div {
    max-height: 1000px;
    min-height: 833px;
    width: 100%;
    background: nth($colores, 3);
    box-sizing: border-box;
    float: left;
  }

  /* STORE */
  #grid-store > div{
    height: 90vh;
    background: nth($colores, 3);
    border: 1px solid #aaa;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 18px;
  }
  /* GALERIA */

  #grid-gallery > div{
    min-height: 800px;
    background: nth($colores, 3);
    border: 1px solid #aaa;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 18px;
  }

  // about us
  #grid-cards > div {
    min-height: 800px;
    background: nth($colores, 3);
    border: 1px solid #aaa;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 18px;
  }

  // faq
  #grid-faq > div {
    min-height: 750px;
    box-sizing: border-box;
    float: left;
  }
  
  /* FOOTER */

  #grid-footer {
    min-height: 33vh;
  }


  #grid-footer > div {
    position: relative;
    bottom: 0;
    min-height: 33vh;
    background-color: nth($colores, 7);
    color: white;
    box-sizing: border-box;
    float: left;
    font-size: 20px;
  }

  /* CALCULOS */
  $max: 6;

  
  @for $i from 1 through $max {
  
    $equ: math.div(100%, $i);
  
    #grid.cell-#{ $i } > div {
      width: $equ;
    }

    #grid-cards.cell-#{ $i } > div {
      width: $equ;
    }

    #grid-title.cell-#{ $i } > div {
      width: $equ;
    }

    #grid-contact.cell-#{ $i } > div {
      width: $equ;
    }
  
    #grid-main.cell-#{ $i } > div {
      width: $equ;
    }
  
    #grid-productos.cell-#{ $i } > div {
      width: $equ;
    }

    #grid-store.cell-#{ $i } > div {
        width: $equ;
      }

    #grid-gallery.cell-#{ $i } > div {
        width: $equ;
    }

    #grid-faq.cell-#{ $i } > div {
      width: $equ;
    }

    #grid-footer.cell-#{ $i } > div {
      width: $equ;
    }
  }

  $map: ( 920:1 );

  @each $key, $val in $map {
    @media all and (max-width: $key + px){
      @for $i from 1 through $val {
  
        $equ: math.div(100%, $i);
      
        #grid.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
    
        #grid-cards.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
    
        #grid-title.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
    
        #grid-contact.cell-#{$key}-#{ $i } > div {
          width: $equ;
          min-height: 400px;
          text-align: center;
        }
      
        #grid-main.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
      
        #grid-productos.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
    
        #grid-store.cell-#{$key}-#{ $i } > div {
            width: $equ;
          }
    
        #grid-gallery.cell-#{$key}-#{ $i } > div {
            width: $equ;
        }

        #grid-faq.cell-#{$key}-#{ $i } > div {
          width: $equ;
         }
      
        #grid-footer.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
      }
    }
  }
  