/*GRID*/

    /* NAVBAR */

#grid > div {
    height: 60px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 30px;
  }

  // titulos
  #grid-title > div {
    background-color: white;
    height: 300px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 30px;
    color: white;
    background-image: url('../img/purple-background.jpg');
    margin-bottom: 20px;
  }
  
  /*HOME*/
  
  #grid-main > div {
    background-color: white;
    height: 600px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    margin: auto;
  }

  /* PRODUCTOS */
  #grid-productos > div {
    background-color: white;
    min-height: 600px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 20px;
  }

  // pagina de producto
  #grid-productPage > div {
    background-color: white;
    text-align: center;
    min-height: 1000px;
    max-height: 100vh;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }


  /* CONTACT */
  #grid-contact > div {
    max-height: 1000px;
    min-height: 833px;
    width: 100%;
    background: nth($colores, 3);
    box-sizing: border-box;
    float: left;
  }

  /* STORE */
  #grid-store > div{
    height: 90vh;
    background: nth($colores, 3);
    border: 1px solid #aaa;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 18px;
  }
  /* GALERIA */

  #grid-gallery > div{
    min-height: 800px;
    background: nth($colores, 3);
    border: 1px solid #aaa;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 18px;
  }

  // about us
  #grid-cards > div {
    min-height: 800px;
    background: nth($colores, 3);
    border: 1px solid #aaa;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 18px;
  }

  // faq
  #grid-faq > div {
    background-color: white;
    min-height: 750px;
    box-sizing: border-box;
    float: left;
  }
  
  /* FOOTER */
  #grid-footer > div {
    position: relative;
    bottom: 0;
    min-height: 366px;
    background-color: nth($colores, 7);
    color: white;
    box-sizing: border-box;
    float: left;
    font-size: 20px;
  }

  /* CALCULOS */

  // cantidad máxima de columnas
  $max: 6;

  // dependiendo del nombre de la class de la seccion se indica cuantas columnas tiene el grid
  @for $i from 1 through $max {
  
    $equ: math.div(100%, $i);
    // navbar
    #grid.cell-#{ $i } > div {
      width: $equ;
    }

    #grid-cards.cell-#{ $i } > div {
      width: $equ;
    }
    // titulos
    #grid-title.cell-#{ $i } > div {
      width: $equ;
    }
    // contacto
    #grid-contact.cell-#{ $i } > div {
      width: $equ;
    }
    
    #grid-main.cell-#{ $i } > div {
      width: $equ;
    }
    // productos de home
    #grid-productos.cell-#{ $i } > div {
      width: $equ;
    }
    // pagina de producto individual
    #grid-productPage.cell-#{ $i } > div {
      width: $equ;
    }

    #grid-store.cell-#{ $i } > div {
        width: $equ;
      }
      // archivo
    #grid-gallery.cell-#{ $i } > div {
        width: $equ;
    }
    // FAQ
    #grid-faq.cell-#{ $i } > div {
      width: $equ;
    }
    // footer
    #grid-footer.cell-#{ $i } > div {
      width: $equ;
    }
  }



  // RESPONSIVE cambiar la disposicion y cantidad de columnas del grid cuando la resolucion < o = 920px

  // máximo de columnas cuando el tamaño de la pantalla es < o = a 920px
  $map: ( 920:2 );

  @each $key, $val in $map {
    @media all and (max-width: $key + px){
      @for $i from 1 through $val {
  
        $equ: math.div(100%, $i);
        // navbar (se oculta completamente para usar el navbar de mobile)
        #grid.cell-#{$key}-#{ $i } > div {
          width: $equ;
          display: none;
        }

    
        #grid-cards.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
        // titulos (queda igual)
        #grid-title.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
        // contacto
        #grid-contact.cell-#{$key}-#{ $i } > div {
          width: $equ;
          min-height: 400px;
          text-align: center;
        }
      
        #grid-main.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
        // productos de home (pasa a ser una columna entera)
        #grid-productos.cell-#{$key}-#{ $i } > div {
          width: $equ;
          margin-bottom: 0;
        }
        // pagina de producto individual (pasa a tarjeta vertical)
        #grid-productPage.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
        
        #grid-store.cell-#{$key}-#{ $i } > div {
            width: $equ;
          }
        // archivo
        #grid-gallery.cell-#{$key}-#{ $i } > div {
            width: $equ;
        }
        // FAQ (queda igual)
        #grid-faq.cell-#{$key}-#{ $i } > div {
          width: $equ;
         }
        //  footer (queda igual)
        #grid-footer.cell-#{$key}-#{ $i } > div {
          width: $equ;
        }
      }
    }
  }
  