// estilo del navbar
.navbar {
    background-color: white;
}

.navBtn {
    text-decoration: none;
    color: nth($colores, 1);
    font-family: 'Montserrat', sans-serif;
    transition: 0.6s;
    text-align: center;
    
}

.navBtn:hover {
    
    color: nth($colores, 2);
}

.navTxt {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
}

.logo {
    padding-top: 5px;
}