// estilo del navbar
.navbar {
    background-color: white;
}

.navBtn {
    text-decoration: none;
    color: nth($colores, 1);
    font-family: 'Montserrat', sans-serif;
    transition: 0.6s;
    text-align: center;
    
}

.navBtn:hover {
    
    color: nth($colores, 2);
}

.navTxt {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    margin-bottom: 0;
    color: black;
}

.logo {
    padding-top: 5px;
}

.navbar-icon {
    background-color: white;
}

// navbar para mobile y pantallas chicas (920px o menos)

// fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);


body {
    font-family: "Lato", sans-serif;
  overflow:hidden;
    transition: background-color .5s;
}

// estilo de la barra entera
.navigation {
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

// enlaces
.navigation a {
    text-decoration: none;
}
// elementos de lista
.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:auto;
    margin-right:auto;
}


.menulist {
    width:200px;
}

// isotipo
.logo {
    text-align:center;
    margin:0 auto;
    padding-left: 35px;
}

// boton hamburguesa
.line1, .line2, .line3 {
  margin-top:5px;
  background-color:black;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}
// animaciones del boton de hamburguesa
.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:black;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:black;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:black;
  top:-7px;
}

// items del menu
.menuitems {
    padding-top:12px;
    padding-bottom: 0;
    text-decoration: none;
    list-style:none; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;	
    text-align:center;
    color: black;
    background-color: white;
    transition: all .5s ease-in-out;
}

// animaciones de los items de menu
.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

// boton de cierre
#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:black;
    cursor:pointer;
    transition:background-position .3s;
}