@use 'sass:math';
@import 'colors';
@import 'cards';
@import 'grid';
@import 'flex';
@import 'footer';
@import 'nav';
@import 'contact';
@import 'gallery';
@import 'store';
@import 'slideshow';
@import 'faq';
@import 'productPage';




/*RESET*/
body, html {
  margin:0;
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
}

// barrita para que cuando la pagina sea muy larga no corra el contenido hacia la izq
body {
  overflow-y: scroll;
}

// body {
//   @include horizontal-gradient(nth($colores, 6), nth($colores, 4));
// }


.section_about {
  @extend %flexRow;

}


/*RESPONSIVE*/

$breakpoint-phone: 920px;
@media (max-width: $breakpoint-phone) {
  .about{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  /*cards responsive*/
  #grid-cards > div {
    height: 1200px;
  }

  .container-about {
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }


}

#grid-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
  
a {
  text-decoration: none;
  color: white;

}





