@use 'sass:math';
@import 'colors';
@import 'cards';
@import 'grid';
@import 'flex';
@import 'footer';
@import 'nav';
@import 'contact';
@import 'gallery';
@import 'store';
@import 'slideshow';




/*RESET*/
body, html {
  margin:0;
  padding: 0;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body {
  @include horizontal-gradient(nth($colores, 6), nth($colores, 4));
}


.section_about {
  @extend %flexRow;

}

/*RESPONSIVE*/

$breakpoint-phone: 920px;
@media (max-width: $breakpoint-phone) {
  .about{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  /*cards responsive*/
  #grid-productos > div {
    height: 1200px;
  }

  .container-about {
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

}

  






