@use 'sass:math';
@import 'colors';
@import 'aboutUs';
@import 'grid';
@import 'flex';
@import 'footer';
@import 'nav';
@import 'contact';
@import 'gallery';
@import 'store';
@import 'faq';
@import 'productPage';




/*RESET*/
body, html {
  margin:0;
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
}

// scroll constante independientemente del largo de la pagina
body {
  overflow-y: scroll;
  background-color: nth($colores, 7);
}

.section_about {
  @extend %flexRow;

}
// titulos
.title-store {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*RESPONSIVE*/

$breakpoint-phone: 920px;
@media (max-width: $breakpoint-phone) {
  .about{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  /*cards responsive*/
  #grid-cards > div {
    height: 1200px;
  }

  .container-about {
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutUs-imgsContainer {
    flex-direction: column;

    .aboutUs-imgs {
      padding-top: 20px;
    }
  }

  .icon {
    display: none;
  }
}

@media (min-width: $breakpoint-phone) {
  #topNav {
      display: none;
  }
}

#grid-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
  
a {
  text-decoration: none;
  color: black;
}







